.page {
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    transition: opacity 0.5 ease-in-out;
  }

.page-enter {
    opacity: 0;
}

.page-enter-active {
    opacity: 1;
}

.page-enter-exit {
    opacity: 0;
}